@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  :root {
    color-scheme: light;
    transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
  }

  html.dark {
    color-scheme: dark;
  }

  html, body, * {
    transition:
      background-color 0.3s ease,
      color 0.3s ease,
      border-color 0.3s ease;
  }
}

body,html{
    background-color: black;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
  margin-top: 4px; 
  margin-bottom: 4px; 
}

::-webkit-scrollbar-thumb {
  background-color: #3b82f6;
  border-radius: 9999px;
  border: 2px solid transparent;
  background-clip: content-box; 
}
